<header class="app__header">
    <nav>
        <ul class="header__list">
            <li><a class="header__list__link" href="index.php?action=users/show">Użytkownicy</a></li>
            <li><a class="header__list__link" href="index.php?action=books/show">Książki</a></li>
            <li><a class="header__list__link" href="index.php?action=users/add">Dodaj użytkownika</a></li>
            <li><a class="header__list__link" href="index.php?action=books/add">Dodaj książkę</a></li>
            <li><a class="header__list__link" href="index.php?action=auth/logout">Wyloguj</a></li>
        </ul>
    </nav>
</header>